@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    3502 N. 3900 W.<br />
    Lehi, UT 84043<br />
    <abbr title="Phone">P:</abbr>
    385.230.8796
</address>

<address>
    <strong>Tess Larcade:</strong> <a href="mailto:col09031@byui.edu">col09031@byui.edu</a><br />
    <strong>Jessie Ji:</strong> <a href="mailto:ji12002@byui.edu">ji12002@byui.edu</a>
</address>
