@{
    ViewData["Title"] = "Home Page";
}

<h1>Sacrament Meeting Planner</h1>

<div class="row">
    <div class="contain">
        <div id="sidediv"></div>
        <div class="side">
            <h2 class="h2Tag">Features</h2>
            <ul>
                <li>
                    Check Scheduled Meetings
                </li>
                <li>
                    Plan Meetings
                </li>
                <li>
                    Update Meetings
                </li>
            </ul>
        </div>
    </div>
</div>